:root {
  /* Common colors */
  --clr-primary-100: hsl(238, 40%, 52%);
  --clr-primary-200: hsl(239, 57%, 85%);
  --clr-primary-300: hsl(358, 79%, 66%);
  --clr-primary-400: hsl(357, 100%, 86%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(228, 33%, 97%);
  --clr-neutral-300: hsl(223, 19%, 93%);
  --clr-neutral-400: hsl(211, 10%, 45%);
  --clr-neutral-500: hsl(212, 24%, 26%);

  /* Spacing */
  --space-xxs: clamp(0.56rem, calc(0.54rem + 0.09vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.09vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.19vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.28vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.38vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.56vw), 3.75rem);
  --space-xxl: clamp(4.5rem, calc(4.32rem + 0.75vw), 5rem);

  /* Font styles */
  --ff-body: "Rubik", sans-serif;

  /* Font sizes */
  --step--1: clamp(0.9rem, calc(0.79rem + 0.45vw), 1.2rem);
  --step-0: clamp(1.13rem, calc(0.99rem + 0.56vw), 1.5rem);
  --step-1: clamp(1.41rem, calc(1.24rem + 0.7vw), 1.88rem);
  --step-2: clamp(1.76rem, calc(1.55rem + 0.88vw), 2.34rem);
  --step-3: clamp(2.2rem, calc(1.94rem + 1.1vw), 2.93rem);
  --step-4: clamp(2.75rem, calc(2.42rem + 1.37vw), 3.66rem);
  --step-5: clamp(3.43rem, calc(3.03rem + 1.72vw), 4.58rem);
  --step-6: clamp(4.29rem, calc(3.79rem + 2.15vw), 5.72rem);

  /* Box shadow */
  --shadow-color: 68, 68, 68;
  /* prettier-ignore */
  --shadow-elevation-low:
    0.3px 0.5px 0.8px rgba(var(--shadow-color, 7, 0%, 14%), 0.14),
    0.6px 1px 1.6px -0.5px rgba(var(--shadow-color, 7, 0%, 14%), 0.28),
    1.2px 2.1px 3.3px -1px rgba(var(--shadow-color, 7, 0%, 14%), 0.42);
  /* prettier-ignore */
  --shadow-elevation-medium:
    0.3px 0.5px 0.8px rgba(var(--shadow-color, 7, 0%, 14%), 0.15),
    1.3px 2.3px 3.6px -0.3px rgba(var(--shadow-color, 7, 0%, 14%), 0.26),
    2.8px 4.9px 7.6px -0.7px rgba(var(--shadow-color, 7, 0%, 14%), 0.36),
    6.1px 10.7px 16.6px -1px rgba(var(--shadow-color, 7, 0%, 14%), 0.47);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
button {
  margin: 0;
  hyphens: auto;
  overflow-wrap: break-word;
}

/* ==================================================
   Reset
   ================================================== */

/* Set core body defaults */
body {
  min-block-size: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  line-height: 1.5;
  color: #000;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* Adjust line heights */
h1,
h2,
h3,
h4 {
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a class */
:where(ul[role="list"]),
:where(ol[role="list"]) {
  padding-inline: 0;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

/* Preserve aspect ratio */
img[width][height] {
  block-size: auto;
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  block-size: auto;
  max-inline-size: 100%;
  max-inline-size: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  overflow-wrap: break-word;
  font: inherit;
}

/* Add space for anchor links */
[id] {
  scroll-margin-top: 2ex;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* ==================================================
   Global Styles
   ================================================== */

body {
  margin-block-end: 3rem;
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-body);
  font-size: var(--step--1);
  font-weight: 400;
  color: var(--clr-neutral-400);
}


:focus-visible {
  opacity: 1 !important;
  outline: 2px solid var(--clr-primary-400);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: transparent;
}

/* ==================================================
   Utilities
   ================================================== */

.align-content {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(320px, 800px) minmax(1rem, 1fr);
}

.align-content > * {
  grid-column: 2;
}

/* ==================================================
   Blocks
   ================================================== */

.replies {
  border-inline-start: 2px solid hsl(211, 10%, 45%, 0.15);
  margin-inline-start: 2rem;
}

/* Card Layout
 ================================================== */
.card {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--clr-neutral-100);
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 2rem;
}

@media only screen and (max-width:600px) {
  .card-wrapper {
    flex-direction: column;
  }
}

.card > div:not([class]) {
  flex-grow: 1;
}


@media only screen and (max-width:600px) {
  .card {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }
}

.content {
  margin-block-start: 1rem;
}

/* Cards
   ================================================== */

.comments .card {
  margin-block-start: 2rem;
}

.replies .card {
  margin-block-start: 1rem;
  margin-inline-start: 2rem;
}

.add-comment {
  margin-block-start: 2rem;
}

.add-comment .card-wrapper {
  flex-direction: row;
}

@media only screen and (max-width:600px) {
  .add-comment .card-wrapper {
    flex-direction: column;
    gap: 1rem;
    /* padding: 1.5rem; */
  }
}

.add-comment img {
  max-inline-size: 3rem;
}

.add-comment textarea {
  flex-grow: 1;
  inline-size: 100%;
  block-size: 8ch;
  padding: 1rem;
  border: 1px solid var(--clr-primary-100);
  border-radius: 0.5em;
  color: var(--clr-neutral-500);
}

@media only screen and (max-width:600px) {
  .add-comment textarea {
    flex-grow: 1;
    order: -1;
  }
}
/* User Details
 ================================================== */

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  max-inline-size: 2rem;
}

.user .username {
  font-weight: 700;
  color: var(--clr-neutral-500);
}


/* Modal
   ================================================== */

.modalDialog {
  position: fixed;
  z-index: 99999;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms;
  inset: 0;
}

.modalDialog>.wrapper {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: min(calc(100% - 2rem), 30rem);
  padding: 2rem;
  border-radius: 1rem;
  margin-inline-end: -50%;
  background-color: var(--clr-neutral-100);
  transform: translate(-50%, -50%);
  text-align: center;
}

.modalDialog .heading {
  font-weight: 700;
  text-transform: uppercase;
}

.modalDialog .content {
  margin-block-start: 1.5rem;
}
/* Buttons
 ================================================== */

/* Score buttons */

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  background-color: var(--clr-neutral-300);
  font-weight: 700;
  color: var(--clr-primary-200);
}

.score button {
  padding-block: 0.25em;
  padding-inline: 0.75em;
  border: none;
  border-radius: 0.5em;
  background-color: var(--clr-neutral-300);
  transition: color 250ms;
  color: var(--clr-primary-200);
  cursor: pointer;
}

.score button:first-of-type {
  /* Optical adjust spacing */
  margin-block-end: 3px;
}

.score:hover button {
  color: var(--clr-primary-100);
}

.score :not(button) {
  color: var(--clr-primary-100);
}

@media only screen and (max-width:600px) {
  .score {
    flex-direction: row;
  }

  .score button {
    padding-block: 0.5em;
    padding-inline: 1.25em;
  }
}

/* Minor Button */

.button-minor {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  border: none;
  background-color: var(--clr-neutral-100);
  transition: color 250ms;
  font-weight: 700;
  color: var(--clr-primary-100);
  cursor: pointer;
}

.button-minor:hover {
  color: var(--clr-primary-200);
}

.button-minor path {
  transition: fill 250ms;
}

.button-minor:hover path {
  fill: var(--clr-primary-200);
}

@media only screen and (max-width:600px) {
  .button-minor {
    inset-block-end: 0;
    inset-inline-end: 0;
  }
}

/* Edit and delete buttons */

.button-wrapper {
  position: absolute;
  display: inline-flex;
  inset-inline-end: 2rem;
  align-items: center;
  gap: 0.5em;
  border: none;
  background-color: var(--clr-neutral-100);
  transition: color 250ms;
  font-weight: 700;
  color: var(--clr-primary-100);
  cursor: pointer;
}

@media only screen and (max-width:600px) {
  .button-wrapper {
    inset-block-end: 0;
    inset-inline-end: 0;
  }
}

.edit,
.delete {
  display: inherit;
  align-items: inherit;
  gap: inherit;
  border: inherit;
  background-color: inherit;
  transition: inherit;
  color: inherit;
  cursor: inherit;
}

.delete {
  color: var(--clr-primary-300);
}

.delete:hover {
  color: var(--clr-primary-400);
}

.delete:hover path {
  fill: var(--clr-primary-400);
}

.edit:hover {
  color: var(--clr-primary-200);
}

.edit:hover path {
  fill: var(--clr-primary-200);
}


/* Major Button */

.button-major {
  padding-block: 0.5em;
  padding-inline: 2em;
  border: none;
  border-radius: 0.5em;
  background-color: var(--clr-primary-100);
  transition: background-color 250ms;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.button-major:hover {
  background-color: var(--clr-primary-200);
}

.button-major.update {
  margin-block-start: 1rem;
  margin-inline-start: calc(100%);
  transform: translateX(-100%);
}

.modal-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1rem;
}

.button-major.cancel {
  position: static;
  background-color: var(--clr-neutral-400);
}

.button-major.delete {
  position: static;
  background-color: var(--clr-primary-300);
}

@media only screen and (max-width:600px) {
  .add-comment .button-major {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
  }
}
